.vertical-center {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Aligns content to the top */
    text-align: center;
    padding-top: 100px; /* Adjust this value as needed */
}

h1 {
    margin-bottom: 0.5rem; /* Adjust this value as needed */
}

p {
    margin-bottom: 0.5rem; /* Adjust this value as needed */
}

.button-container a {
    display: block;
    margin: 5px; /* Consistent spacing between buttons */
}

.button-container a:first-child {
    margin-top: 0; /* No top margin for the first button */
}

    body {
        padding-top: 5rem;
    }
    .container {
        padding: 2rem 0;
    }
    .btn-custom {
    padding: 1rem 1.5rem; /* Larger padding for bigger buttons */
    font-size: 1.25rem; /* Larger font size */
    background-color: #343a40; /* Match navbar color */
    border-color: #343a40; /* Match navbar color */
    color: #ffffff; /* White text for contrast */
}

/* Ensures that the custom color remains on hover/focus */
.btn-custom:hover,
.btn-custom:focus {
    background-color: #0056b3; /* Darker shade for interaction */
    border-color: #0056b3; }

    body {
        background-color: #e0e0e0; /* This is a very light gray, softer than white */
    }